.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 2px solid #ddd;
}

.logo img {
    height: 60px;
    width: auto;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.action-btn {
    padding: 5px 15px;
    background-color: #ce0101;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.icon {
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}